.welcome{
    color: aqua;
}

.button-learnmore{
    background-color: #DD2242;
    color: white;
    border: none;
    width: 178px;
    height: 59px;
    border-radius: 32px;
    font-size: 18px;
    font-family: ;
}