.welcome{
    color: aqua;
}

.buton-learnmore{
    background-color: #DD2242;
    border: none;
    border-radius: 32px;
    width: Fixed (179.81px)px;
height: Hug (59px)px;
top: 1585px;
left: 1102.85px;
padding: 16px 24px 16px 24px;
gap: 24px;
border-radius: 32pxh;
opacity: 0px;
}


.article-section{
    background-image: url("https://unsplash.com/photos/SD8ULgflt8g");
    background-size: cover;
    height: 500px;
}