.explore-title{
    display: flex;
    justify-content: center;
    margin-bottom:4px;
    padding-top: 64px;
    font-size: 30px;
}

.sect-background{
background-image: url(../../img/explore/explorebackground.png);
background-position: center;
background-size: cover;
}



.slider{
    // margin-bottom: 633px;
    display: flex;

}

.item-paragraph{
    color: rgb(224, 224, 224);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;

    text-align: center;
}

.item-title{
    color: rgb(221, 34, 66);
    text-align: center;
font-size: 32.14px;
font-weight: 700;

}

.explore-backround{
    background-color: #020c21ea;
    padding: 102px 322px;
}

.explore-list{
    display: flex;
    gap: 47px;
}

.explore-title-2{
    color: rgb(255, 255, 255);
font-size: 40px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
}

.explore-paragraph{
color: rgb(224, 224, 224);
font-size: 18px;
font-weight: 400;
margin-bottom: 39px;
line-height: 28px;

text-align: center;

}

.slider-container {
    text-align: center;
    width: 80%;
    max-width: 700px;
    position: relative;
left: 350px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.slider {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 633px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #e63946;
}

.container{
width: 1440px;
outline: #e63946 solid 1px;
margin: 0 auto;
}

@media (min-width:320px) and (max-width:480px) {
.container{
    width: 376px;
outline: #e63946 solid 1px;
margin: 0 auto;
}

.explore-backround{
    padding: 30px 30px;
}

.explore-list{
    flex-direction: column;
}

.slider-container {
    left: 35px;
}
}

@media (min-width:678px) and (max-width:1439px) {
    .container{
        width: 678px;
    outline: #e63946 solid 1px;
    margin: 0 auto;
    }
    
    .explore-backround{
        padding: 30px 30px;
    }
    
    .explore-paragraph{
        margin-bottom: 100px;
    }

    .slider-container {
        left: 40px;
    }
    }