.baground{
    background-image: url(../../img/baground/section-video.jpg);
    background-size: cover;
    background-position: center;
    width: 1900px;
    height: 1200px;
    padding-top: 120px;
   
}
.container{
    width: 1500px;
    outline: 1px red solid;
    margin: 0 auto;
    
}
.list-1{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    
}
.div-iframe{
    display: flex;
    justify-content: center;
}
.picture{
width: 233px;
height: 151px;
}