<section class="article-section">
<img src="../../img/articles-images/article-image-1.png" alt="The walkways of Indonesia spellbind" width="630" height="430" class="article-image-1">
<section>
    <h2>The walkways of <br> Indonesia spellbind</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adip <br> iscing elit. Fusce commodo magna et libero <br> mollis rhoncus. </p>
    <button class="buton-learnmore">Learn More</button>
</section>
<img src="../../img/articles-images/beach-image.png" alt="Perfect beaches exude relaxation and fun" width="630" height="460">
<h2>Perfect beaches exude relaxation and fun</h2>
<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce commodo magna et libero mollis rhoncus. </p>
<button>Learn More</button>
</section>
</section>