<section>
    <h1>Explore Our Secrets</h1>
</section>

<div class="slider">
    <div class="slide-item">
        <img src="/src/img/explore/firstimage.png" alt="1">
    </div>
    <div class="slide-item">
        <img src="/src/img/explore/secondimage.png" alt="1">
    </div>
    <div class="slide-item">
        <img src="/src/img/explore/lastimage.png" alt="1">
    </div>
    <div class="slide-item">
        <img src="/src/img/explore/firstimage.png" alt="1">
    </div>
    <div class="slide-item">
        <img src="/src/img/explore/firstimage.png" alt="1">
    </div>

</div>

<h2>By The Numbers</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero.Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.</p>
<ul>
    <li>
        <div>
            <h3>100+</h3>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero.Lorem ipsum dolor
                sit amet, consectetur adipiscing elit.</p>
        </div>
    </li>
    <li>
        <div>
            <h3>43,000+</h3>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo.</p>
        </div>
    </li>
    <li>
        <div>
            <h3>30+</h3>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero.</p>
        </div>
    </li>
</ul>