<div class="sect-background">
<div class="container-explore">
    
</div>
        <section>
            <h2 class="explore-title">Explore Our Secrets</h2>
        </section>

        <svg>
            <use href="../../../src/img/explore/symbol-defs.svg#icon-Union"></use>
        </svg>



        <div class="slider-container">
            <div class="slider">
                <button class="slider-btn prev-btn" onclick="prevSlide()">&#10094;</button>
                <div class="slides">
                    <div class="slide active">
                        <img src="https://images.unsplash.com/photo-1513415756790-2ac1db1297d0?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="Image 1">
                    </div>
                    <div class="slide">
                        <img src="https://via.placeholder.com/800x400.jpg?text=Image+2" alt="Image 2">
                    </div>
                    <div class="slide">
                        <img src="https://via.placeholder.com/800x400.jpg?text=Image+3" alt="Image 3">
                    </div>
                </div>
                <button class="slider-btn next-btn" onclick="nextSlide()">&#10095;</button>
            </div>
            <div class="indicators">
                <span class="dot active" onclick="currentSlide(0)"></span>
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
            </div>
        </div>

        <div class="slider">
        </div>
        <div class="explore-backround">
            <h2 class="explore-title-2">By The Numbers</h2>
            <p class="explore-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Fusce commodo
                magna
                et
                libero.Lorem ipsum <br> dolor sit amet,
                consectetur adipiscing elit.</p>
            <ul class="explore-list">
                <li class="explore-item">
                    <div>
                        <h3 class="item-title">100+</h3>
                    </div>
                    <div>
                        <p class="item-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo
                            magna et libero.</p>
                    </div>
                </li>
                <li class="explore-item">
                    <div>
                        <h3 class="item-title">43,000+</h3>
                    </div>
                    <div>
                        <p class="item-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                            commodo.
                        </p>
                    </div>
                </li>
                <li class="explore-item">
                    <div>
                        <h3 class="item-title">30+</h3>
                    </div>
                    <div>
                        <p class="item-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo
                            magna et libero.</p>
                    </div>
                </li>
            </ul>
        </div>


</div>