<footer class="footer">
    <img class="flower" src="img/footer/flower 1.svg" alt="f4">
    <img class="exploreindonesia" src="img/footer/Explore Indonesia.svg" alt="f4">
    <ul class="ul1">
        <li class="li1">About</li>
        <li class="li1">Pricing</li>
        <li class="li1">Company</li>
        <li class="li1">Blog</li>
    </ul>
    <ul class="flexbox">
        <li><a href="" class="face"><img src="img/footer/Facebook.svg" alt="Facebook"></a></li>
        <li><a href="" class="link"><img src="img/footer/Linkedin.svg" alt="Linkedin"></a></li>
        <li><a href="mailto:project.team.goiteens@gmail.com" class="goog"><img src="img/footer/Google.svg" alt="Gmail"></a></li>
    </ul>
    <p class="copy">Copyright © 2019</p>
</footer>