<section class="baground container">
    <div class="div-1">
        <ul class="ul-1">
            <li class="list-1"> Live a life like you wouldn’t imagine, experience a life <br>
                you wouldn’t expect.</li>
        </ul>
    </div>
    <div class="div-iframe">
            <iframe width="1056" height="594"
                src="https://www.youtube.com/embed/hTcBL_bg29A?controls=0&enablejsapi=1&modestbranding=1&rel=0&iv_load_policy=3"
                title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
            </iframe>

    </div>
</section>